node_modules/
apps/web/node_modules/
.pnpm-store/
.DS_Store
.env
.env.local
*.log
.task/
ecs-task-def.rendered.json
bootstrap
deployment.zip

# Node / Frontend
node_modules/
apps/web/.next/
apps/web/.turbo/
apps/web/.eslintcache
apps/web/dist/

# Backend
apps/api/bin/

# Lambda
apps/api/internal/lambda/main
apps/api/internal/lambda/main.zip
